services:
  dagster-dagit:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
  dagster-daemon:
    build:
      context: .
      dockerfile: Dockerfile
    command: "dagster-daemon run"
  dagster-postgres:
    image: postgres:14
    container_name: dagster-db
    ports:
      - 5432:5432
    environment:
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USER=${DATABASE_USER}
    volumes:
      - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local
